<style>
  .contentinfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  button {
    background-color: yellow;
    color: black;
    font-weight: bold;
    margin: 10px;
    height: 30px;
  }
  button:active {
    background-color: rgb(255, 6, 6);
    box-shadow: 2px 3px 0px 0px black;
    color: white;
  }
</style>
<div class="contentinfo">
  <h1>DATA SCIENCE</h1>
  <button>syllabus</button>
</div>
<div>
  <p>
    Data science is the study of data to extract meaningful insights for
    business and industry. It uses a multidisciplinary approach that combines
    principles and practices from fields like mathematics, statistics,
    artificial intelligence, and computer engineering to analyze large amounts
    of data. Data scientists use tools, methods, and technology such as data
    analysis and modeling, human-machine interaction, and algorithms to ask and
    answer questions like: What happened, Why did it happen, What will happen,
    and How can the results be used for planning and decision-making.
  </p>
</div>
