<style>
.carousel-item img {
  max-height: 600px;
}
.carousel-inner:hover .carousel-item img {
  animation: none;
}
.btncol{
  background-color: black;
  width: 7%;
}
.contentcol{
  background-color: black;

 
}
  </style>
   <div class="container-fluid contentcol">
    <div class="container">
    
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="https://www.youtube.com/watch?app=desktop&v=fcBAXxoLy-w">
              <img src="https://i.ytimg.com/vi/fcBAXxoLy-w/maxresdefault.jpg" class="d-block w-100" alt="...">
            </a>
          </div>
          <div class="carousel-item">
            <a href="https://www.youtube.com/watch?app=desktop&v=orBGs56u3f8">
              <img src="https://i.ytimg.com/vi/orBGs56u3f8/maxresdefault.jpg" class="d-block w-100" alt="...">
            </a>
          </div>
          <div class="carousel-item">
            <a href="https://www.youtube.com/watch?v=8Fl_mPcpv14">
              <img src="https://i.ytimg.com/vi/8Fl_mPcpv14/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCLCigkVE-yH6Zd0eVt9iNBiczwOw" class="d-block w-100" alt="...">
            </a>
          </div>
        </div>
        <button class="carousel-control-prev btncol" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next btncol" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
     </div>
   </div>