<div class="container ">
    <div class="box">
     <h1 class="heading">USER LOGIN</h1>
     <br>
     <dd>
         username
     </dd>
     <dd>
         <input type="text" id="username"   placeholder="Enter Username">
     </dd>
      <dd>
         password
      </dd>
      <dd>
         <input [type]="value"   placeholder="Enter Password" id="password">
      </dd>
      <dd>
         <input type="checkbox"  (input)="checkedBox($event)">&nbsp;Show the password
      </dd>
      <dd>
         <br>
         <button type="button" class="btn btn-danger btn-lg btn-block">Login</button>
      </dd>
    </div>
      
  </div>
