 
 <!-- <app-user-list></app-user-list>  -->

 <!-- <app-directivies><h1><b>DATA COMMING FROM NG-CONTENT</b></h1></app-directivies>    -->


 <app-model>
 <img src="https://media.licdn.com/dms/image/C4D22AQHWUZWLYNP2ww/feedshare-shrink_800/0/1642760639397?e=2147483647&v=beta&t=AZmEySeKqAzj8MG0EGMS1lPC_vXPCQZp-LTz8AUJXBE"  width="471px">
<h1>WELCOME </h1>
</app-model> 


<!-- <app-products-list>
    
</app-products-list> -->


 <!-- <app-custom-directive></app-custom-directive> -->

 <!-- <app-pip-exmp></app-pip-exmp> -->


