<div class="container" style="text-align: center;">
    <h1 style="text-align: center;">PIP COMPONENT</h1>

    <h1>uppercase : {{name  | uppercase}}</h1>
    <h1>lowercase : {{name  | lowercase}}</h1>
    <h1>titlecase :{{name  | titlecase}}</h1>
    <h1>currency :{{numb  | currency }}</h1>
    <h1>currency indian : {{numb  |  currency : 'INR'}}</h1>
    <hr>
    <h1>DATA FORMATE : {{dateObj  | date}}</h1>
    <h1>DATA FORMATE : {{dateObj  | date : 'fullDate'}}</h1>
    <h1>DATA FORMATE : {{dateObj  | date : 'mediumDate'}}</h1>
    <h1>DATA FORMATE : {{dateObj  | date : 'shortDate'}}</h1>
    <h1> TIME FORMATE : {{dateObj | date : 'fullTime'}}</h1>
    <h1> TIME FORMATE : {{dateObj | date : 'mediumTime'}}</h1>
    <h1> TIME FORMATE : {{dateObj | date : 'shortTime'}}</h1>
    <h1> TIME FORMATE : {{dateObj | date : 'dd-mmmm-yyyy'}}</h1>
    <h1> TIME FORMATE : {{dateObj | date :'dd-MMM-yyy'}}</h1>
    <h1> TIME FORMATE : {{dateObj | date : 'dd-mm-yy'}}</h1>
    
</div>
 

