 <h1> Bultin  PiP Examples</h1>
 <div>
    <b>upper case</b> : {{Name | uppercase}}
    <br>
    <br>
    <b>lower case</b>  : {{Name | lowercase}}
    <br>
    <br>
    <b>Title case</b>  : {{Name | titlecase}}
    <br>
    <br>
    <b>currency case</b>  : {{number | currency}}
    <br>
    <br>
    <b> Indian currency case</b>  : {{number | currency :'INR'}}
    <br>
    <br>
    <b> Json  case</b>  : {{Employes | json }}
    <br>
    <br>
    <b> Date  case 1</b>  : {{DateTime | date :  'dd-M-y'}}
    <br>
    <br>
    <b> Date  case 2</b>  : {{DateTime | date :  'dd/M/yy'}}
    <br>
    <br>
    <b> Time  case </b>  : {{ DateTime | date : 'hh:ss a'  }}
    
 </div>

 <br>
 <br>
 <br>
 <div>
 
 </div>