<style>
  .navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
  a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 30px;
    font-size: 20px;
  }
  .items{
    padding: 20px;
  }
</style>
<div class="container-fluid bg-dark p-2">
  <div class="navbar">
    <div class="items text-light">
      <a routerLink="home">Home</a>
      <a routerLink="about">About</a>
      <a routerLink="contact">Contact</a>
    </div>
  </div>
</div>
