 <style>
  .contentinfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  button{
     
    background-color: yellow;
    color: black;
    font-weight: bold;
    margin: 10px;
    height: 30px;

  }
  button:active{
    background-color: rgb(255, 6, 6);
    box-shadow: 2px 3px 0px 0px black;
    color: white;
  }
 </style>
 <div class="contentinfo">
  <h1>JAVA PROGRAMMING</h1>
  <button>syllabus</button>

 </div>
<div>
  <p>
    Java is a multiplatform, object-oriented programming language that can be
    used to code a variety of applications and services. It's based on C and
    C++, but is designed to be simpler to use and enforce an object-oriented
    programming (OOP) model. Java is known for its slogan, "write once, run
    anywhere" (WORA), which means that code written for one platform can be
    easily transferred to another without being completely rewritten. AWS What
    is Java? - Java Programming Language Explained - AWS Java is a widely-used
    programming language for coding web applications. It has been a popu...
    Microsoft Azure What is Java?—Beginner's Guide to Java - Microsoft Azure
    What is Java? Java is a multiplatform, object-oriented programming language
    that runs on b... IBM What Is Java? | IBM TheServerSide What is Java? |
    Definition from TechTarget - TheServerSide Java is a widely used programming
    language expressly designed for coding applications and ...
  </p>
</div>
