<style>
  .contentinfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  button {
    background-color: yellow;
    color: black;
    font-weight: bold;
    margin: 10px;
    height: 30px;
  }
  button:active {
    background-color: rgb(255, 6, 6);
    box-shadow: 2px 3px 0px 0px black;
    color: white;
  }
</style>
<div class="contentinfo">
  <h1>PYTHON PROGRAMMING</h1>
  <button>syllabus</button>
</div>
<div>
  <p>
    Python is a high-level, object-oriented programming language that's used for
    many purposes in computer science: Web development Python is used for both
    server-side and back-end web development. Software development Python is
    used to build software and can be integrated with many different systems.
    Data science Python is used for data analysis, machine learning, and
    scientific programming. For example, NASA uses Python to build 3D maps of
    Mars, analyze satellite data, and simulate aircraft. Facebook uses Python
    for data analysis and machine learning in their news feed algorithm.
    Automation Python can be used to automate simple tasks like renaming files,
    finding and downloading content online, or sending emails. It can also be
    used for more complex automation tasks like checking for errors across
    multiple files, converting files, and executing simple math. Mathematics
    Python is popular with scientists and mathematicians because it has
    libraries for statistics and complex math. Coursera What Is Python Used For?
    A Beginner’s Guide - Coursera 3 Apr 2024 — Automation or scripting ...
    Writing code used to build these automated processes... AWS What is Python?
    - Python Programming Language Explained - AWS Python is a programming
    language that is widely used in web applications, software develop...
    Coursera What Is Python Used For? A Beginner's Guide - Coursera 29 Nov 2023
    — Python is a computer programming language often used to build websites and
    soft... Teradata What is Python? | Teradata Oracle What is Python? - Oracle
    That's only the tip of the iceberg! Python programming language is actively
    used across al... Shiksha What is Python? A Beginner's Guide to Learn Python
    in 2023 22 May 2024 — NASA. Python is employed in scientific programming and
    data analysis for projec... What is Python? it's Uses and Applications -
    GeeksforGeeks Python is considered easy to learn and efficient, and it can
    run on many different platforms. It's also free to download and has a large
    user community. Guido van Rossum developed Python, and it was originally
    released in 1991. The name "Python" is a reference to the British comedy
    group Monty Python. Generative AI is experimental.
  </p>
</div>
