 <!-- <app-observables></app-observables> -->
  <!-- <app-observables2></app-observables2> -->
   <!-- <app-observable3></app-observable3> -->

   <!-- <app-observable4></app-observable4> -->

   <!-- <app-subjects></app-subjects> -->

   <!-- <app-search-login-final></app-search-login-final> -->

   <!-- <app-subjects></app-subjects> -->

<style>
    .container{
        display: flex;
    flex-direction: r;
    flex-wrap: wrap;
    justify-content: space-around;
        
    }
 
</style>

   <div class="container">

    <div class="right">
   <app-message-1></app-message-1>
    </div>

    <div class="left">
      <app-message-3></app-message-3>
       </div>


    <div class="left">
  <app-message-2></app-message-2>
    </div>

 
    
   </div>





