<div id="div1">
    Choose District  : 
<select (input)="CheckedDropDown($event)"> 
    <option>-select-</option >
    <option >Hyderabad</option>
    <option >Warangal</option>
    <option >Karimnagar</option>
    <option >Khammam</option>
    <option >Nizamabad</option>
    <option >Adilabad</option>
    <option >Medak</option>
    <option >Nalgonda</option>
    <option >Mahabubnagar</option>
</select>
<br>
<br>
<br>
<br>
<div id="div2">OUR SELECTED DISTRICT<h1> {{Name}}</h1></div>
</div>
 
<hr>
