 

    <div class="container ">
        <div class="box">
         <h4 class="heading">USER LOGIN</h4>
         <br>
         <dd>
             username
         </dd>
         <dd>
             <input type="text" id="username"   placeholder="Enter Username">
         </dd>
          <dd>
             password
          </dd>
          <dd>
             <input [type]="value"   placeholder="Enter Password" id="password">
          </dd>
          <dd>
             <input type="checkbox"  (input)="checkedvalue($event)" >&nbsp;Show the password
          </dd>
          <dd>
             <br>
             <button type="button" class="btn btn-primary btn-sm">Login</button>          </dd>
        </div>
          
      </div>
