<div
  class="cards"
  style="
    text-align: center;
    overflow: auto;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    min-width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
    
    
  "
>
  <div
    *ngFor="let Data of products"
    style="background-color: rgb(8, 0, 255); margin: 10px;    "
  >
    <div style="display: block;">
      <img
        src="{{ Data.image }}"
        alt=""
        style="width: 100px; aspect-ratio: 1; margin: 10px"
      />
      <div style="font-size: 10px; color: white; font-family: Arial, Helvetica, sans-serif; font-weight: bold; ">
        {{Data.title}}
      </div>
    </div>
    <br />
    <button [routerLink]="['singleproduct/',Data.id]" [queryParams]="{ID:Data.id , title:Data.title}"  style=" cursor: pointer; padding: 5px; width: 100%; background-color: rgb(226, 251, 0); color: rgb(0, 0, 0);">view</button>
  </div>
</div>
