<div class="card-container">
<div class="card" *ngFor="let Data of userlist">
    <div class="card-Header">

    </div>
    <div class="card-Body">
      <img src="{{Data.Banner}}" alt="">
      <span>{{Data.Name}}</span><br>
      
      <span>{{Data.Year}}</span>
    </div>
    <div class="card-Footer">

    </div>
</div>
</div>
<div>
  <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.4838884564892!2d78.44581567493591!3d17.436538983459045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9130b2be1313%3A0xf9224defbfeae775!2sRN%20REDDY%20IT%20SCHOOL!5e0!3m2!1sen!2sin!4v1716214091998!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
</div>