<style>
  * {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3e4095;
    padding: 10px;
    color: white;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3e4095;
    padding: 10px;
    color: white;
  }

  .logo-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 100%;
    animation: fadeIn 2s ease-in-out;
  }

  .logo {
    width: 252px;
    margin-right: 10px;
    animation: pulse 2s infinite;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .logo-text {
    font-size: 24px;
    line-height: 1.2;
  }

  .nav {
    box-shadow: -3px 3px 5px 0px black;
    /* gap: 54px; */
    display: flex;
    background-color: #466aff;
    padding: 10px;
    width: 100%;
    align-content: space-around;
    justify-content: flex-end;
  }

  .items {
    display: flex;
    margin-right: 5%;
    gap: 64px;
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 0;
  }

  .Active {
    border-bottom: 3px solid yellow;
  }

  .fa-icon {
    font-size: 20px;
    color: white;
  }

  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
    }

    .items {
      flex-direction: column;
      gap: 15px;
    }

    a {
      font-size: 18px;
    }

    .fa-icon {
      font-size: 18px;
    }

    .social-media-icons {
      flex-direction: column;
      margin-left: 0;
    }
  }

  .text-1 {
    color: #00080e;
    font-family: fantasy;
    font-size: 49px;
  }

  .text-2 {
    margin-left: 85px;
    font-size: 25px;
    color: #0079ff;
    font-family: fantasy;
  }

  .social-media-icons {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .iconfb,
  .iconinsta,
  .iconYoutube {
    font-size: 20px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .iconfb {
    --fa-beat-scale: 2;
    text-shadow: 0 0 10px blue;
    color: #0079ff;
    animation-name: bounce;
  }

  .iconinsta {
    color: #d35100;
    animation-name: spin;
  }

  .iconYoutube {
    color: #ff0000;
    animation-name: shake;
  }

  .icons-container {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25%,
    75% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
  }

  .animateLogo {
    width: 57px;
  }

  .add {
    font-size: 19px;
    font-weight: bold;
    background-color: #3c444d;
    color: white;
  }

  .AddText {
    font-family: cursive;
  }
  .folllowus {
    width: 173px;
    text-align: center;
    width: 173px;
    text-align: center;
    font-family: fantasy;
    /* background-color: blue; */
    color: #0034ff;
    border-radius: 17px;
    padding: 5px;
    font-size: 23px;
  }

  .backgroundicons {
    text-align: center;
    justify-content: center;
    padding: -4px;
  }
</style>

<div class="add">
  <marquee direction="right">
    <span class="AddText">
      <a href="#" class="AddText">
        .NET SUPER 30 JOB GUARANTEE PROGRAM JOIN HERE
        <img
          class="animateLogo"
          src="/assets/Animation - 1721162861315.gif"
          alt=""
        />
        &nbsp; &nbsp; డాట్‌నెట్ సూపర్ 30 జాబ్ గ్యారెంటీ ప్రోగ్రామ్‌లో త్వరగా
        చేరండి
        <img
          class="animateLogo"
          src="/assets/Animation - 1721162861315.gif"
          alt=""
        />

        &nbsp; &nbsp; 
        डॉटनेट सुपर 30 जॉब गारंटी प्रोग्राम से यहां तेजी से जुड़ें
        <img
          class="animateLogo"
          src="/assets/Animation - 1721162861315.gif"
          alt=""
        />
      </a>
    </span>
  </marquee>
</div>

<div class="container-fluid">
  <div class="logo-content">
    <img class="logo" src="/assets/Logo2.png" alt="" />
    <div class="social-media-icons">
      <span class="folllowus"
        >FOLLOW US

        <div class="backgroundicons">
          <div class="icons-container">
            <a routerLink="home" routerLinkActive="Active">
              <fa-icon class="iconfb" [icon]="faFacebook"></fa-icon>
            </a>
            <a routerLink="home" routerLinkActive="Active">
              <fa-icon class="iconinsta" [icon]="faInstagram"></fa-icon>
            </a>
            <a routerLink="home" routerLinkActive="Active">
              <fa-icon class="iconYoutube" [icon]="faYoutube"></fa-icon>
            </a>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="nav">
    <div class="items">
      <a routerLink="home" routerLinkActive="Active">
        <fa-icon class="fa-icon" [icon]="faHouse"></fa-icon>
        Home
      </a>
      <a routerLink="aboutus" routerLinkActive="Active">
        <fa-icon class="fa-icon" [icon]="faBook"></fa-icon>
        About Us
      </a>
      <a routerLink="contactus" routerLinkActive="Active">
        <fa-icon class="fa-icon" [icon]="faAddressBook"></fa-icon>
        Contact Us
      </a>
      <a routerLink="career" routerLinkActive="Active">
        <fa-icon class="fa-icon" [icon]="faMagnifyingGlassMinus"></fa-icon>
        Course
      </a>
    </div>
  </div>
</div>
