<style>
  .img {
    width: 100%;
    border-radius: 196px;
    max-width: 317px;
    animation: _ngcontent-ng-c3141502878_displayEffect 2s forwards;
    float: right;
  }

  @keyframes displayEffect {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes textFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .experience-section {
    text-align: center;
  }

  .experience-section h1 {
    font-size: 3rem;
  }

  .experience-section h4 {
    color: red;
  }

  p {
    animation: textFadeIn 3s forwards;
  }

  .txt1 {
    font-family: fantasy;
  }

  .txt2 {
    font-family: fantasy;
    color: #245cfb;
  }
</style>

<div class="container-fluid">
  <div class="container">
    <div class="row justify-content-center p-5 p-sm-4">
      <div class="col-12 col-lg-6 border-success">
        <img
          class="w-75 img"
          src="https://img.freepik.com/premium-photo/young-asian-indian-student-with-glasses-backpack-holds-book-shows-thumbs-up_928503-89.jpg"
          alt="Student Image"
        />
      </div>
      <div class="col-12 col-lg-6 border-white">
        <span
          ><h2>
            <span class="txt1">RN REDDY &nbsp;</span>
            <span class="txt2">IT SCHOOL</span>
          </h2></span
        >
        <p>
          Experience excellence in the best software training institute in
          Hyderabad. Our institute stands out as the best software training
          destination, providing comprehensive courses and personalized
          guidance. With a team of industry experts and state-of-the-art
          facilities, we ensure an immersive learning experience. Gain hands-on
          expertise in the latest software technologies and set yourself apart
          in the competitive job market. Choose us for top-notch training,
          industry recognition, and a successful career.
        </p>
        <p>
          Experience excellence in the best software training institute in
          Hyderabad. Our institute stands out as the best software training
          destination, providing comprehensive courses and personalized
          guidance. With a team of industry experts and state-of-the-art
          facilities, we ensure an immersive learning experience. Gain hands-on
          expertise in the latest software technologies and set yourself apart
          in the competitive job market. Choose us for top-notch training,
          industry recognition, and a successful career.
        </p>
      </div>

      <div
        class="col-6 col-md-4 col-lg-2 border border border-white p-2 mx-2 experience-section"
      >
        <h1>29</h1>
        <h4>Students Got Placed</h4>
      </div>
      <div
        class="col-6 col-md-4 col-lg-2 border border border-white p-2 mx-2 experience-section"
      >
        <h1>29</h1>
        <h4>Students</h4>
      </div>
      <div
        class="col-6 col-md-4 col-lg-2 border border-white p-2 mx-2 experience-section"
      >
        <h1>{{ Experience }}</h1>
        <h4>Years of Experience</h4>
      </div>
    </div>
  </div>
</div>
