<style>
    * {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    .container-fluid {
      width: 100%;
    }
  
    .footer {
      background-color: #363636;
      color: white;
      padding: 40px 20px;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
    }
  
    .footer-content {
        flex: 1;
    min-width: 258px;
    padding: 33px;
    }
  
    .footer iframe {
      border: 0;
      width: 100%;
      height: 450px;
      border-radius: 16px;
    }
  
    .footer h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .footer p {
      font-size: 16px;
      line-height: 1.5;
      margin: 10px 0;
      text-align: left;
    }
  
    .footer-text {
      margin-top: 20px;
      font-size: 16px;
    }
  
    @media (max-width: 768px) {
      .footer-content, .footer iframe {
        width: 100%;
        padding: 0;
      }
  
      .footer p, .footer-text {
        font-size: 14px;
        text-align: center;
      }
  
      .footer {
        flex-direction: column;
      }
    }
  </style>
  
  <div class="container-fluid">
    <div class="footer">
      <div class="footer-content">
        <h2>Reach Us</h2>
        <p>Phone: 040-23746666</p>
        <p>Email: info.com</p>
        <p>Call/Whatsapp: +91 8179191999</p>
        <p>International: +1 404-232-9879, +1 248-522-6925</p>
        <p>Head Office: 2nd Floor, Durga Bhavani Plaza, Ameerpet, Hyderabad, 500016.</p>
        <p>Ameerpet Branch: Ground Floor, Manjeera Square, Opp Prime Hospital, Ameerpet, Hyderabad.</p>
        <div class="footer-text">
          <p>&copy; 2024 RN REDDY IT SCHOOL. All Rights Reserved.</p>
          <p>Contact us: info.com | +91 12345 67890</p>
        </div>
      </div>
      <div class="footer-content">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60902.65423021608!2d78.40787906943851!3d17.439797499954185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9130b2be1313%3A0xf9224defbfeae775!2sRN%20REDDY%20IT%20SCHOOL!5e0!3m2!1sen!2sin!4v1721234200167!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
  