
<style>
  iframe{
    height: 300px;
    border: 0px;
    border-radius: 20px;
  }
  .centertect{
    text-align: center;
  }
</style>

<div class="container-fluid bg-dark">
  <div class="container bg-dark text-light p-4">
    <div class="row">
      <div class="col text-light p-4 ">
 
        <div class="col "> <h2 class="float-end animate__animated animate__lightSpeedInLeft "><u>Reach Us</u></h2></div>
         <div class="mt-4">
          <img src="/assets/whitelogo.png" class=" mt-4  animate__animated animate__zoomIn" style="width: 200px;" alt="">
        <br>
        <br>
        <p>Phone:xxxxxx</p>
        <p>Email:xxxxxxxxxx</p>
        <p>Call/Whatsapp: xxxxxxxx</p>
        <p>International: xxxxxxx , xxxxxxx</p>
        <p>
          Head Office: xxxxxxxxxxx, Ameerpet, Hyderabad,
          500016.
        </p>
         </div>
      </div>
      <div class="col p-4">
        <br>
        <br>
        <br>
        <br>
        <div>
          <iframe  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d243614.9688391265!2d78.448391!3d17.436539!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9130b2be1313%3A0xf9224defbfeae775!2sRN%20REDDY%20IT%20SCHOOL!5e0!3m2!1sen!2sin!4v1721555995039!5m2!1sen!2sin"  width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid  bg-primary">
  <div class="container p-2 bg-primary    text-bg-light">
    <div class="row mt-3 justify-content-center ">
      <div class="col-5    text-light centertect    ">
       <b><p>© Copyright – 2024 | RNREDDY IT SCHOOL | All Rights Reserved</p></b>
        
      </div>
      <div class="col-5    text-light  centertect  ">
        <b> <p>
          Returns & Reschedules |
          Terms of Use |
          Privacy & Disclaimer</p></b>
      </div>
    </div>

  </div>
</div>
